<div class="cemter container">
	<h1 align="center">Create A New User</h1>
	<div class="col-md-12">
		<%= render 'form', user: @user %>	
		<div class="col-xs-4 col-xs-offset-4">
			[ <%= link_to 'Back to Home Page', users_path %> ]
		</div>
	</div>
</div>