<div class="cemter container">
	<h1 align="center">Editing Micropost</h1>
	<div class="col-md-12">
		<%= render 'form', micropost: @micropost %>
		<div class="col-xs-4 col-xs-offset-4">
			[ <%= link_to 'Show', @micropost %> |
			<%= link_to 'Back', microposts_path %> ]
		</div>
	</div>
</div>